---

---
<footer class="px-4 py-8 mx-auto max-w-6xl">
    <nav class="flex gap-8 flex-col md:flex-row items-center justify-between mb-8">
        <ul class="flex flex-wrap gap-4">
            <li>
                <a class="nav-link" href="#about">
                    About
                </a>
            </li>
            <li>
                <a class="nav-link" href="#resume">
                    Resume
                </a>
            </li>
            <li>
                <a class="nav-link" href="#projects">
                    Projects
                </a>
            </li>
            <li>
                <a class="nav-link" href="#contact">
                    Contact
                </a>
            </li>
        </ul>

        <ul class="flex gap-4">
            <li>
                <a href="https://www.linkedin.com/in/morten-schou-gross/" target="_blank" title="LinkedIn">
                    <i class="fa-brands fa-linkedin-in text-2xl"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/mort98h4" target="_blank" title="GitHub">
                    <i class="fa-brands fa-github text-2xl"></i>
                </a>
            </li>
        </ul>
    </nav>

    

    <p class="font-medium text-(--color-2) text-center">&copy;<span id="year">2025</span></p>
</footer>

<script>
    const d = new Date();
    const year = d.getFullYear();

    document.querySelector('#year').textContent = year;
</script>