---

---
<footer class="flex items-center justify-center py-8">
    <address class="flex flex-col items-center not-italic font-light text-center">
        <a class="transition-colors hover:text-[var(--color-1)] mb-1 w-fit" href="https://www.linkedin.com/in/morten-schou-gross/" target="_blank">
            <span class="inline-flex items-center">
                <i class="fa-brands fa-linkedin-in text-2xl mr-2"></i>
                Morten Schou Gross
            </span>
        </a>
        <a class="transition-colors hover:text-[var(--color-1)] mb-1  w-fit" href="https://github.com/mort98h4" target="_blank">
            <span class="inline-flex items-center">
                <i class="fa-brands fa-github text-2xl mr-2"></i>
                mort98h4
            </span>
        </a>
        <a class="transition-colors hover:text-[var(--color-1)] w-fit" href="mailto:mortengross_93@hotmail.com" target="_blank">
            <span class="inline-flex items-center">
                <i class="fa-solid fa-envelope text-xl mr-2"></i>
                mortengross_93@hotmail.com
            </span>
        </a>
    </address>
</footer>