---
import LinkBtn from "../shared/LinkBtn.astro";
import Portfolio from "../shared/Portfolio.astro";
---

<header id="hero" class="relative flex flex-col justify-center items-center w-full h-screen pb-4 print:h-[fit-content] print:pb-0">
    <h1 class="relative code text-[1.7rem] sm:text-3xl md:text-4xl pb-4 print:pb-0">
        <span class="animate opacity-0">&lt;Morten Schou Gross /&gt;</span>
        <div class="satisfy hidden text-4xl -rotate-8 print:block">
            Resumé
        </div>
    </h1>
    <div class="w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/5 -rotate-6 print:hidden">
        <Portfolio />
    </div>
    <nav class="btn-container w-full relative flex justify-center flex-wrap gap-4 sm:gap-8 p-4 print:hidden">
        <LinkBtn href="#about">
            About
        </LinkBtn>
        <LinkBtn href="#resume">
            Resume
        </LinkBtn>
        <LinkBtn href="#projects">
            Projects
        </LinkBtn>
    </nav>
</header>

<style>
    header {
        background-color: var(--white);
        transition: background-color .15s ease-in-out;
    }

	html.dark header {
		background-color: var(--color-5);
	}

    .btn-container {
        transition: opacity .15s ease-in-out, transform .15s ease-in-out;
        opacity: 0;
        transform: translateY(100%);
    }

    .btn-container.show {
        opacity: 1;
        transform: translateY(0);
    }

    .code {
        -webkit-text-stroke: .04em var(--color-3);
        text-shadow: unset;
    }

    @media print {
        .code {
            -webkit-text-stroke: .04em var(--color-1);
            text-shadow: 0 0 20px var(--code-shadow);
            /* transform: translateX(-2.5rem); */
        }

        .code .satisfy {
            font-family: "Satisfy", cursive;
            color: var(--color-1);
            -webkit-text-stroke: transparent;
            -webkit-text-fill-color: var(--color-1);
            text-shadow: 0 0 20px var(--code-shadow);
            position: absolute;
            top: calc(100% - 1.25rem);
            left: 50%;
            transform: translateX(-50%);
        }
    }
</style>