---
import LinkBtn from "../shared/LinkBtn.astro";
import Portfolio from "../shared/Portfolio.astro";
---

<header id="hero" class="relative flex flex-col justify-center items-center w-full h-screen pb-4">
    <div class="background-gradient absolute h-full w-full z-[0]"></div>
    <h1 class="code text-[1.7rem] sm:text-3xl md:text-4xl pb-4">
        <span class="animate opacity-0">&lt;Morten Schou Gross /&gt;</span>
    </h1>
    <div class="w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/5 -rotate-6">
        <Portfolio />
    </div>
    <nav class="btn-container w-full relative flex justify-center flex-wrap gap-4 sm:gap-8 p-4">
        <LinkBtn href="#about">
            About
        </LinkBtn>
        <LinkBtn href="#resume">
            Resume
        </LinkBtn>
        <LinkBtn href="#projects">
            Projects
        </LinkBtn>
    </nav>
</header>

<style>
    header {
        background-color: var(--white);
        transition: background-color .15s ease-in-out;
    }

	html.dark header {
		background-color: var(--color-5);
	}

    header > .background-gradient {
        background: radial-gradient(circle, rgba(var(--color-1-rgb),.5) 0%, transparent 35%);
    }

    .btn-container {
        transition: opacity .15s ease-in-out, transform .15s ease-in-out;
        opacity: 0;
        transform: translateY(100%);
    }

    .btn-container.show {
        opacity: 1;
        transform: translateY(0);
    }
</style>