---
import { getCollection } from "astro:content";
import Card from "../shared/Card.astro";
import Header from "../shared/Header.astro";
import Section from "../shared/Section.astro";
import { projects as content } from "../../content/projects";

interface Props {
	lang: string;
}

const { lang } = Astro.props;

let projects = await getCollection('projects');
projects = projects.sort((a, b) => a.data.id - b.data.id);

---

<Section id="projects" classList="print:hidden">
    <Header text={content[lang].sectionHeader} />
    <ul data-animate data-animation="fade-in" class="grid grid-cols-12 gap-4 mb-8 md:mb-12">
        {projects.map(project => (
            <Card project={project} lang={lang}></Card>
        ))}
    </ul>
</Section>