---
import { getCollection } from "astro:content";
import Card from "../shared/Card.astro";
import Header from "../shared/Header.astro";
import Section from "../shared/Section.astro";

let projects = await getCollection('projects');
projects = projects.sort((a, b) => a.data.id - b.data.id);

---

<Section id="projects" classList="print:hidden">
    <Header text='Projects' />
    <ul data-animate data-animation="fade-in" class="grid grid-cols-12 gap-4 mb-8 md:mb-12">
        {projects.map(project => (
            <Card project={project}></Card>
        ))}
    </ul>
</Section>