---
interface Props {
    href: string;
}

const { href } = Astro.props;
---
<a 
    class="btn xs:min-w-[7.5rem]"
    href={href}
>
    <div class="btn-bg-gradient"></div>
    <span class="btn-text">
        <slot />
    </span>
</a>
