---
interface Props {
    text: string;
}

const { text } = Astro.props;
---
<li class="tag inline-block px-2 py-1 rounded border font-medium whitespace-nowrap">
    { text }
</li>

<style>
    .tag {
        background-color: rgba(var(--color-1-rgb), .1);
        border-color: rgba(var(--color-2-rgb), 1);
        color: var(--color-2);
    }
</style>