@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Satisfy&display=swap');
@import url('animations.css');
@import "tailwindcss";


@theme {
  --breakpoint-xs: 30rem;
}

:root {
    --color-1: rgba(255,3,143, 1);
    --color-1-rgb: 255, 3, 143;
    --color-2: rgba(163,0,107, 1);
    --color-2-rgb: 163, 0, 107;
    --color-3: rgba(94,0,52, 1);
    --color-3-rgb: 94, 0, 52;
    --color-4: rgba(43,0,24, 1);
    --color-4-rgb: 43, 0, 24;
    --color-5: rgba(19,0,10, 1);
    --color-5-rgb: 19, 0, 10;
    --white: rgba(245, 245, 245, 1);
    --code-shadow: var(--color-1);
}

html {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--white);
    color: var(--color-5);
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

html.dark {
    background-color: var(--color-5);
    color: var(--color-1);
}

body.safari {
    --code-shadow: rgba(var(--color-1-rgb), .5);
}

h1:not(.code),
h2:not(.code),
h3:not(.code),
h4:not(.code),
h5:not(.code),
h6:not(.code) {
    color: var(--color-3);
    font-weight: 700;
    letter-spacing: .025em;
    text-transform: uppercase;
}

h5:not(.code),
h6:not(.code) {
    font-weight: 500;
}

html.dark h1:not(.code),
html.dark h2:not(.code),
html.dark h3:not(.code),
html.dark h4:not(.code),
html.dark h5:not(.code),
html.dark h6:not(.code) {
    color: var(--color-2);
}

.code {
    font-family: 'Courier Prime', monospace;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .04em var(--color-1);
    text-shadow: 0 0 20px var(--code-shadow);
}

a:not(.code) {
    cursor: pointer;
    transition: color .15s ease-in-out;
    color: var(--color-2);
    font-weight: 600;
}

a.nav-link {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .025em;
    color: var(--color-2);
    transition: color .15s ease-in-out;
}

a:hover, a.nav-link:hover, a.nav-link:focus, a.nav-link.active {
    color: var(--color-1);
}

button.btn,
a.btn {
    position: relative;
    border: 2px solid;
    padding: .5rem 1rem;
    text-align: center;
    color: var(--color-2);
    border-color: var(--color-2);
    cursor: pointer;
    transition: color .15s ease-in-out, border-color .15s ease-in-out;
}

.btn > * {
    pointer-events: none;
}

button.btn:hover,
a.btn:hover,
button.btn:focus,
a.btn:focus {
    color: var(--color-1);
    border-color: var(--color-1);
}

.btn > .btn-bg-gradient {
    width: 100%;
    height: 100%;
    max-width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    transition: max-width .15s ease-in-out;
    background: linear-gradient(60deg,rgba(var(--color-1-rgb), .4) 0%, var(--white) 100%);
}

html.dark .btn > .btn-bg-gradient {
    background: linear-gradient(60deg,rgba(var(--color-3-rgb), 1) 0%, rgba(var(--color-5-rgb), 1) 100%);
}

button.btn:hover > .btn-bg-gradient,
button.btn:focus > .btn-bg-gradient,
a.btn:hover > .btn-bg-gradient,
a.btn:focus > .btn-bg-gradient {
    max-width: 100%;
}

.btn > .btn-text {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-weight: 700;
}