---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import Resume from '../components/core/Resume.astro';
import Projects from '../components/core/Projects.astro';
import About from '../components/core/About.astro';

---

<Layout title="Morten Schou Gross">
	<main class="p-4 mx-auto max-w-6xl">

		<About />

		<Resume />

		<Projects />
		
	</main>
</Layout>
