---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import "../styles/global.css";
import Card from '../components/shared/Card.astro';
import Section from '../components/shared/Section.astro';
import Header from '../components/shared/Header.astro';
import Resume from '../components/core/Resume.astro';

const projects = await getCollection('projects');
---

<Layout title="Morten Schou Gross">
	<main class="p-4 mx-auto max-w-6xl">

		<Section id="about">
			<Header text='About' />
		</Section>

		<Resume />

		<Section id="projects">
			<Header text='Projects' />
			<ul class="grid grid-cols-12 py-4 gap-4">
				{projects.map(project => (
					<Card project={project}></Card>
				))}
			</ul>
		</Section>
		
	</main>
</Layout>
