---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
---

<Layout title="Morten Schou Gross">
	<header>
		<h1>
			Morten Schou Gross
			<span>Portfolio</span>
		</h1>
	</header>
	<main>
		<ul>
			{projects.map(project => (
				<li>
					{project.data.title} <br />
					{project.data.urls.map(url => (
						<a href={url.href}>{url.title}</a>
					))}	
				</li>
			))}
		</ul>
	</main>
</Layout>
