---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import "../styles/global.css";
import Card from '../components/shared/Card.astro';
import Section from '../components/shared/Section.astro';

const projects = await getCollection('projects');
---

<Layout title="Morten Schou Gross">
	<main class="p-4 mx-auto max-w-6xl">

		<Section id="about">
			<h2 class="code text-center text-xl sm:text-2xl md:text-3xl pb-6">About</h2>
		</Section>

		<Section id="resume">
			<h2 class="code text-center text-xl sm:text-2xl md:text-3xl pb-6">Resume</h2>
		</Section>

		<Section id="projects">
			<h2 class="code text-center text-xl sm:text-2xl md:text-3xl pb-6">Projects</h2>
			<ul class="grid grid-cols-12 py-4 gap-4">
				{projects.map(project => (
					<Card project={project}></Card>
				))}
			</ul>
		</Section>
		
	</main>
</Layout>
