<!--?xml version="1.0" encoding="UTF-8"?-->
<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 346.77 125.58">
  <title>portfolio</title>
  <g id="portfolio">
    <path
      mask="url(#portfolio-mask-p)"
      id="portfolio-P"
      d="m1.12,91.35c.26-.2.67-.52,1.22-.98.55-.46,1.21-1.3,1.95-2.54.75-1.24,1.58-3.03,2.49-5.37s1.86-5.53,2.83-9.57c.52-2.15,1.2-4.88,2.05-8.2.85-3.32,1.77-6.87,2.78-10.64,1.01-3.77,2.03-7.67,3.08-11.67,1.04-4,2.05-7.81,3.03-11.43s1.86-6.88,2.64-9.81,1.4-5.21,1.86-6.84c-1.24.78-2.44,1.66-3.61,2.64-1.04.85-2.15,1.81-3.32,2.88s-2.31,2.2-3.42,3.37c-.85-.72-1.5-1.5-1.95-2.34-.26-.39-.49-.81-.68-1.27-.39-.98-.59-1.99-.59-3.03s.81-2.11,2.44-3.22c.85-.59,2.13-1.43,3.86-2.54,1.72-1.11,3.86-2.2,6.4-3.27s5.5-2,8.89-2.78c3.38-.78,7.13-1.17,11.23-1.17s7.41.81,9.91,2.44c2.51,1.63,4.43,3.61,5.76,5.96,1.33,2.34,2.2,4.82,2.59,7.42.39,2.6.49,4.88.29,6.84-.39,3.65-1.56,7.46-3.52,11.43-1.95,3.97-4.66,7.63-8.11,10.99-3.45,3.35-7.65,6.2-12.6,8.54-4.95,2.34-10.61,3.68-16.99,4-.52,2.47-1.04,5.01-1.56,7.62-.52,2.6-1.07,5.16-1.66,7.67-.59,2.5-1.19,4.85-1.81,7.03-.62,2.18-1.25,4.05-1.9,5.62-.65,1.69-1.5,3.04-2.54,4.05-1.04,1.01-2.7,1.51-4.98,1.51-1.17,0-2.26-.29-3.27-.88-1.01-.59-1.94-1.4-2.78-2.44Zm23.14-44.53c-.2,1.04-.44,2.39-.73,4.05s-.63,3.53-1.03,5.62c1.76-.26,3.71-.73,5.86-1.42s4.3-1.61,6.45-2.78,4.25-2.59,6.3-4.25,3.92-3.58,5.62-5.76c1.69-2.18,3.11-4.65,4.25-7.42,1.14-2.77,1.87-5.84,2.2-9.23.33-3.25.15-5.97-.54-8.15-.68-2.18-1.68-3.94-2.98-5.27-1.3-1.33-2.8-2.28-4.49-2.83-1.69-.55-3.39-.83-5.08-.83s-3.22.23-4.79.68c-1.56.46-3.12,1.04-4.69,1.76.2.07.42.23.68.49.39.39.68.94.88,1.66-1.56,6.32-2.85,11.59-3.86,15.82-1.01,4.23-1.81,7.68-2.39,10.35-.72,3.12-1.27,5.63-1.66,7.52Z"
      stroke-width="0"></path>
    <path
      mask="url(#portfolio-mask-o-1)"
      id="portfolio-o-1"
      d="m90.28,61.86c-.65,2.47-1.53,4.79-2.64,6.93-1.11,2.15-2.43,4-3.96,5.57-1.53,1.56-3.26,2.78-5.18,3.66-1.92.88-4.02,1.32-6.3,1.32-2.67,0-4.77-.57-6.3-1.71-1.53-1.14-2.67-2.55-3.42-4.25-.75-1.69-1.2-3.55-1.37-5.57-.16-2.02-.24-3.91-.24-5.66,0-1.24.15-2.6.44-4.1.29-1.5.7-3.03,1.22-4.59.52-1.56,1.19-3.12,2-4.69.81-1.56,1.77-2.99,2.88-4.3.39-1.11.99-2.08,1.81-2.93.81-.85,1.76-1.55,2.83-2.1,1.07-.55,2.23-.98,3.47-1.27,1.24-.29,2.44-.44,3.61-.44.2,0,.37.03.54.1.16.07.34.13.54.2.85.07,1.9.39,3.17.98s2.51,1.46,3.71,2.64c1.2,1.17,2.23,2.65,3.08,4.44.85,1.79,1.27,3.96,1.27,6.49,0,.52-.03,1.16-.1,1.9-.07.75-.13,1.38-.2,1.9,1.5-.59,3.06-1.3,4.69-2.15,1.63-.85,3.21-1.74,4.74-2.69,1.53-.94,2.94-1.9,4.25-2.88,1.3-.98,2.34-1.86,3.12-2.64.65-.59,1.2-.91,1.66-.98.45-.06.78.07.98.39.2.33.23.78.1,1.37-.13.59-.49,1.24-1.07,1.95-.33.39-1.16,1.17-2.49,2.34-1.33,1.17-2.91,2.44-4.74,3.81-1.82,1.37-3.81,2.7-5.96,4-2.15,1.3-4.2,2.28-6.15,2.93Zm-22.75,2.34c0,1.17.06,2.33.2,3.47.13,1.14.39,2.15.78,3.03s.91,1.6,1.56,2.15c.65.55,1.5.83,2.54.83,1.17,0,2.25-.28,3.22-.83.98-.55,1.86-1.27,2.64-2.15s1.48-1.89,2.1-3.03c.62-1.14,1.16-2.33,1.61-3.56-.46.07-.9.11-1.32.15-.42.03-.9.05-1.42.05-2.48,0-4.61-.73-6.4-2.2-1.79-1.46-3.17-3.34-4.15-5.62-.39,1.37-.72,2.7-.98,4-.26,1.3-.39,2.54-.39,3.71Zm6.25-17.19c-.2.59-.29,1.21-.29,1.86,0,1.04.06,2.13.2,3.27.13,1.14.45,2.17.98,3.08.52.91,1.35,1.68,2.49,2.29,1.14.62,2.72.93,4.74.93.33,0,.65-.02.98-.05.33-.03.65-.08.98-.15.2-.85.37-1.61.54-2.29.16-.68.24-1.28.24-1.81.13-1.24.13-2.51,0-3.81-.13-1.3-.38-2.49-.73-3.56-.36-1.07-.81-1.95-1.37-2.64-.55-.68-1.22-1.03-2-1.03-1.24,0-2.43.34-3.56,1.03-1.14.68-2.2,1.65-3.17,2.88Z"
      stroke-width="0"></path>
    <path
      mask="url(#portfolio-mask-r)"
      id="portfolio-r"
      d="m97.02,76.9c-.45.72-.96,1.19-1.51,1.42-.55.23-1.04.26-1.46.1-.42-.16-.7-.5-.83-1.03-.13-.52,0-1.17.39-1.95l1.32-2.64c.68-1.37,1.5-3.01,2.44-4.93.94-1.92,1.97-4,3.08-6.25s2.16-4.38,3.17-6.4c1.01-2.02,1.94-3.82,2.78-5.42.85-1.59,1.46-2.75,1.86-3.47-.72-.65-1.21-1.12-1.46-1.42-.26-.29-.46-.93-.59-1.9-.13-.85.06-1.95.59-3.32.52-1.37,1.2-2.69,2.05-3.96.85-1.27,1.79-2.36,2.83-3.27,1.04-.91,2.05-1.37,3.03-1.37,1.82,0,3.11.59,3.86,1.76.75,1.17,1.19,2.38,1.32,3.61.13.85.06,1.92-.2,3.22-.26,1.3-.75,2.48-1.46,3.52.2.13.45.28.78.44.33.16.85.24,1.56.24,1.04,0,1.77-.06,2.2-.2.42-.13,1.09-.2,2-.2,1.11,0,2.02.28,2.73.83.72.55,1.3,1.24,1.76,2.05.45.81.8,1.69,1.03,2.64.23.94.37,1.81.44,2.59.2,1.63-.23,3.32-1.27,5.08-1.04,1.76-2.31,3.68-3.81,5.76-.91,1.3-1.82,2.77-2.73,4.39-.91,1.63-1.3,3.09-1.17,4.39.13.85.36,1.53.68,2.05.33.52,1.24.78,2.73.78,1.11,0,2.33-.41,3.66-1.22,1.33-.81,2.7-1.86,4.1-3.12,1.4-1.27,2.78-2.67,4.15-4.2,1.37-1.53,2.64-3.03,3.81-4.49s2.16-2.78,2.98-3.96c.81-1.17,1.42-2.02,1.81-2.54.33-.52.75-.88,1.27-1.07.52-.2.98-.2,1.37,0s.63.59.73,1.17-.15,1.37-.73,2.34c-.39.65-1.06,1.69-2,3.12-.94,1.43-2.08,3.03-3.42,4.79-1.33,1.76-2.82,3.56-4.44,5.42-1.63,1.86-3.34,3.55-5.13,5.08-1.79,1.53-3.58,2.78-5.37,3.76-1.79.98-3.5,1.46-5.13,1.46s-3.09-.33-4.2-.98c-1.11-.65-2-1.45-2.69-2.39-.68-.94-1.17-1.99-1.46-3.12-.29-1.14-.41-2.2-.34-3.17.06-.78.28-1.61.63-2.49.36-.88.78-1.79,1.27-2.73.49-.94,1.01-1.89,1.56-2.83.55-.94,1.06-1.87,1.51-2.78,1.11-1.89,2-3.5,2.69-4.83.68-1.33,1.03-2.46,1.03-3.37,0-.59-.13-1.11-.39-1.56-.26-.45-.68-.68-1.27-.68-.39,0-.67.02-.83.05-.16.03-.33.05-.49.05s-.39.02-.68.05c-.29.03-.73.05-1.32.05-.85,0-1.56-.13-2.15-.39-.59-.26-1.14-.45-1.66-.59-.26.46-.85,1.43-1.76,2.93-.91,1.5-1.97,3.26-3.17,5.27-1.21,2.02-2.48,4.13-3.81,6.35-1.33,2.21-2.59,4.28-3.76,6.2-1.17,1.92-2.16,3.55-2.98,4.88-.81,1.33-1.32,2.13-1.51,2.39Z"
      stroke-width="0"></path>
    <path
      mask="url(#portfolio-mask-t)"
      id="portfolio-t"
      d="m177.39,52.68c.26-.39.6-.63,1.03-.73s.77-.05,1.03.15.41.52.44.98c.03.46-.15,1.07-.54,1.86-1.3,2.47-3.01,5.14-5.13,8.01-2.12,2.87-4.35,5.55-6.69,8.06-2.34,2.51-4.62,4.57-6.84,6.2-2.21,1.63-4.07,2.44-5.57,2.44-2.15,0-3.94-.42-5.37-1.27-1.43-.85-2.56-1.89-3.37-3.12-.81-1.24-1.38-2.59-1.71-4.05-.33-1.46-.42-2.82-.29-4.05.06-1.04.29-2.91.68-5.62.39-2.7.91-5.83,1.56-9.38.65-3.55,1.38-7.36,2.2-11.43.81-4.07,1.68-7.99,2.59-11.77-1.11.13-2.21.26-3.32.39-1.11.13-2.12.2-3.03.2-2.08,0-4.05-.24-5.91-.73s-3.24-.96-4.15-1.42c-.52-.26-.75-.63-.68-1.12.07-.49.26-.98.59-1.46.33-.49.73-.91,1.22-1.27.49-.36.93-.54,1.32-.54,1.24.13,2.57.24,4,.34s2.99.11,4.69.05c1.24-.06,2.42-.16,3.56-.29,1.14-.13,2.26-.29,3.37-.49.85-3.12,1.68-5.84,2.49-8.15.81-2.31,1.55-3.92,2.2-4.83.2-.33.63-.6,1.32-.83.68-.23,1.42-.39,2.2-.49s1.53-.1,2.25,0c.72.1,1.24.34,1.56.73.33.52.45,1.86.39,4-.07,2.15-.42,4.88-1.07,8.2,2.73,0,5.16.15,7.28.44,2.11.29,3.92.62,5.42.98,1.5.36,2.7.72,3.61,1.07.91.36,1.6.6,2.05.73.46.13.7.46.73.98.03.52-.06,1.06-.29,1.61-.23.55-.6,1.03-1.12,1.42s-1.11.52-1.76.39c-.65-.06-1.38-.2-2.2-.39s-1.79-.36-2.93-.49c-1.14-.13-2.49-.26-4.05-.39-1.56-.13-3.39-.2-5.47-.2-.39,0-.83.02-1.32.05-.49.03-.99.05-1.51.05-.26,1.04-.5,2.07-.73,3.08-.23,1.01-.54,2.07-.93,3.17-.85,2.6-1.82,5.44-2.93,8.5-.98,2.67-2.15,5.73-3.52,9.18-1.37,3.45-2.9,7.13-4.59,11.04-.39,2.8-.34,4.93.15,6.4s1.09,2.52,1.81,3.17c.85.72,1.89,1.11,3.12,1.17.98.13,2.16-.21,3.56-1.03,1.4-.81,2.85-1.9,4.35-3.27,1.5-1.37,3.01-2.86,4.54-4.49,1.53-1.63,2.94-3.22,4.25-4.79,1.3-1.56,2.44-2.98,3.42-4.25s1.66-2.16,2.05-2.69Z"
      stroke-width="0"></path>
    <path
      mask="url(#portfolio-mask-f)"
      id="portfolio-f"
      d="m173.48,67.23c-.72-.72-1.22-1.42-1.51-2.1s-.5-1.35-.63-2c-.13-.72-.13-1.43,0-2.15.26-.91.65-1.76,1.17-2.54.45-.72,1.07-1.45,1.85-2.2.78-.75,1.82-1.45,3.12-2.1.85-2.08,1.61-4.28,2.29-6.59.68-2.31,1.29-4.41,1.81-6.3.59-2.21,1.11-4.43,1.56-6.64,1.63-5.53,2.47-10.04,2.54-13.53.06-3.48,0-5.78-.2-6.88-.06-.45-.13-.91-.2-1.37-.13-.39-.24-.83-.34-1.32s-.21-.96-.34-1.42c.72-.39,1.35-.72,1.9-.98.55-.26,1.03-.45,1.42-.59.46-.2.88-.33,1.27-.39,1.5-.33,2.91-.5,4.25-.54,1.33-.03,2.07.21,2.2.73.06.33.15.91.24,1.76.1.85.15,1.89.15,3.12s-.1,2.62-.29,4.15c-.2,1.53-.55,3.14-1.07,4.83-.46,1.5-1.07,3.58-1.86,6.25-.72,2.28-1.66,5.32-2.83,9.13s-2.7,8.68-4.59,14.6c1.95-.65,4.1-1.27,6.45-1.86s4.74-1.07,7.18-1.46,4.88-.68,7.32-.88,4.7-.23,6.79-.1c.39,0,.67.18.83.54.16.36.16.73,0,1.12s-.52.77-1.07,1.12c-.55.36-1.35.57-2.39.63-1.3.13-2.73.28-4.3.44-1.56.16-3.17.39-4.83.68s-3.3.65-4.93,1.07c-1.63.42-3.16.93-4.59,1.51-1.11.39-2.21.78-3.32,1.17-.91.33-1.87.7-2.88,1.12-1.01.42-1.84.8-2.49,1.12l-2.25,7.13c3.78,2.67,6.69,5.4,8.74,8.2,2.05,2.8,3.53,5.37,4.44,7.71,1.11,2.73,1.72,5.4,1.86,8.01,0,2.86-.42,5.75-1.27,8.64-.85,2.9-1.97,5.66-3.37,8.3s-3.03,5.09-4.88,7.37c-1.86,2.28-3.81,4.23-5.86,5.86-2.05,1.63-4.13,2.86-6.25,3.71-2.12.85-4.12,1.17-6.01.98-1.37-.13-2.51-.57-3.42-1.32-.91-.75-1.59-1.69-2.05-2.83-.45-1.14-.72-2.41-.78-3.81-.06-1.4.07-2.78.39-4.15.26-1.37.81-3.91,1.66-7.62.72-3.12,1.82-7.67,3.32-13.62,1.5-5.96,3.52-13.88,6.05-23.78Zm5.76,4.59c-.91,3.26-1.71,6.25-2.39,8.98s-1.25,5.14-1.71,7.23c-.59,2.41-1.04,4.59-1.37,6.54-.59,2.47-1.19,4.92-1.81,7.32-.62,2.41-1.11,4.57-1.46,6.49-.36,1.92-.5,3.47-.44,4.64.07,1.17.49,1.76,1.27,1.76,1.89.13,3.86-.6,5.91-2.2,2.05-1.6,3.92-3.61,5.62-6.05s3.09-5.08,4.2-7.91,1.66-5.45,1.66-7.86c0-2.67-.42-5.31-1.27-7.91-.59-1.37-1.27-2.7-2.05-4-.72-1.11-1.58-2.29-2.59-3.56s-2.2-2.42-3.56-3.47Z"
      stroke-width="0"></path>
    <path
      mask="url(#portfolio-mask-o-2)"
      id="portfolio-o-2"
      d="m232.96,61.86c-.65,2.47-1.53,4.79-2.64,6.93-1.11,2.15-2.43,4-3.96,5.57-1.53,1.56-3.26,2.78-5.18,3.66-1.92.88-4.02,1.32-6.3,1.32-2.67,0-4.77-.57-6.3-1.71-1.53-1.14-2.67-2.55-3.42-4.25-.75-1.69-1.2-3.55-1.37-5.57-.16-2.02-.24-3.91-.24-5.66,0-1.24.15-2.6.44-4.1.29-1.5.7-3.03,1.22-4.59.52-1.56,1.19-3.12,2-4.69.81-1.56,1.77-2.99,2.88-4.3.39-1.11.99-2.08,1.81-2.93.81-.85,1.76-1.55,2.83-2.1,1.07-.55,2.23-.98,3.47-1.27,1.24-.29,2.44-.44,3.61-.44.2,0,.37.03.54.1.16.07.34.13.54.2.85.07,1.9.39,3.17.98s2.51,1.46,3.71,2.64c1.2,1.17,2.23,2.65,3.08,4.44.85,1.79,1.27,3.96,1.27,6.49,0,.52-.03,1.16-.1,1.9-.07.75-.13,1.38-.2,1.9,1.5-.59,3.06-1.3,4.69-2.15,1.63-.85,3.21-1.74,4.74-2.69,1.53-.94,2.95-1.9,4.25-2.88,1.3-.98,2.34-1.86,3.12-2.64.65-.59,1.2-.91,1.66-.98.46-.06.78.07.98.39.2.33.23.78.1,1.37-.13.59-.49,1.24-1.07,1.95-.33.39-1.16,1.17-2.49,2.34-1.33,1.17-2.91,2.44-4.74,3.81-1.82,1.37-3.81,2.7-5.96,4-2.15,1.3-4.2,2.28-6.15,2.93Zm-22.75,2.34c0,1.17.06,2.33.2,3.47.13,1.14.39,2.15.78,3.03s.91,1.6,1.56,2.15c.65.55,1.5.83,2.54.83,1.17,0,2.25-.28,3.22-.83.98-.55,1.86-1.27,2.64-2.15s1.48-1.89,2.1-3.03c.62-1.14,1.16-2.33,1.61-3.56-.46.07-.9.11-1.32.15-.42.03-.9.05-1.42.05-2.47,0-4.61-.73-6.4-2.2-1.79-1.46-3.17-3.34-4.15-5.62-.39,1.37-.72,2.7-.98,4-.26,1.3-.39,2.54-.39,3.71Zm6.25-17.19c-.2.59-.29,1.21-.29,1.86,0,1.04.06,2.13.2,3.27.13,1.14.46,2.17.98,3.08.52.91,1.35,1.68,2.49,2.29,1.14.62,2.72.93,4.74.93.33,0,.65-.02.98-.05.33-.03.65-.08.98-.15.2-.85.37-1.61.54-2.29.16-.68.24-1.28.24-1.81.13-1.24.13-2.51,0-3.81-.13-1.3-.38-2.49-.73-3.56-.36-1.07-.81-1.95-1.37-2.64-.55-.68-1.22-1.03-2-1.03-1.24,0-2.43.34-3.56,1.03-1.14.68-2.2,1.65-3.17,2.88Z"
      stroke-width="0"></path>
    <path
      mask="url(#portfolio-mask-l)"
      id="portfolio-l"
      d="m241.94,75.82c2.86-12.04,5.16-21.71,6.88-29,1.72-7.29,3.04-12.86,3.96-16.7,1.04-4.56,1.76-7.71,2.15-9.47.2-1.24.36-2.44.49-3.61.13-1.04.2-2.11.2-3.22s-.1-2.11-.29-3.03c.52-.33,1.09-.59,1.71-.78.62-.2,1.22-.36,1.81-.49.72-.2,1.43-.36,2.15-.49.72-.13,1.37-.2,1.95-.2.52,0,1.01.05,1.46.15.46.1.75.31.88.63.39.33.57.98.54,1.95-.03.98-.11,1.99-.24,3.03-.26,1.24-.55,2.57-.88,4-.78,2.8-1.86,6.84-3.22,12.11-1.17,4.49-2.75,10.61-4.74,18.36-1.99,7.75-4.48,17.51-7.47,29.3-.33.33-.72.55-1.17.68-.46.13-.88.2-1.27.2-.46,0-.94-.03-1.46-.1-.46-.13-.91-.33-1.37-.59-.39-.26-.78-.6-1.17-1.03s-.68-.99-.88-1.71Z"
      stroke-width="0"></path>
    <path
      mask="url(#portfolio-mask-i)"
      id="portfolio-i"
      d="m273.29,40.66c.33-.39.94-.72,1.86-.98.91-.26,1.86-.47,2.83-.63.98-.16,1.87-.26,2.69-.29.81-.03,1.29-.02,1.42.05.06.07-.1.75-.49,2.05-.39,1.3-.88,2.83-1.46,4.59s-1.21,3.56-1.86,5.42c-.65,1.86-1.14,3.37-1.46,4.54-.33,1.17-.72,2.49-1.17,3.96-.46,1.46-.86,2.9-1.22,4.3-.36,1.4-.6,2.72-.73,3.96-.13,1.24-.03,2.18.29,2.83.33.78.68,1.32,1.07,1.61s.81.44,1.27.44c1.3,0,2.95-.72,4.93-2.15,1.99-1.43,4-3.14,6.05-5.13,2.05-1.99,3.96-4,5.71-6.05s3.06-3.69,3.91-4.93c.52-.65,1.06-1.07,1.61-1.27.55-.2,1.01-.16,1.37.1.36.26.55.68.59,1.27.03.59-.18,1.27-.63,2.05-1.04,1.82-2.57,3.99-4.59,6.49-2.02,2.51-4.17,4.92-6.45,7.23-2.28,2.31-4.51,4.28-6.69,5.91-2.18,1.63-3.96,2.47-5.32,2.54-1.11.06-2.2-.11-3.27-.54-1.07-.42-2.05-1.01-2.93-1.76-.88-.75-1.61-1.63-2.2-2.64-.59-1.01-.91-2.07-.98-3.17-.2-1.63-.2-3.86,0-6.69s.55-5.73,1.07-8.69c.52-2.96,1.19-5.78,2-8.45.81-2.67,1.74-4.65,2.78-5.96Zm13.48-20.8c-.2.72-.57,1.42-1.12,2.1-.55.68-1.17,1.24-1.86,1.66-.68.42-1.38.7-2.1.83-.72.13-1.3,0-1.76-.39-1.37-1.04-2.08-2.16-2.15-3.37-.07-1.2.23-2.34.88-3.42.65-1.07,1.46-1.99,2.44-2.73.98-.75,1.82-1.19,2.54-1.32.72-.13,1.32.02,1.81.44.49.42.86.98,1.12,1.66.26.68.41,1.45.44,2.29.03.85-.05,1.6-.24,2.25Z"
      stroke-width="0"></path>
    <path
      mask="url(#portfolio-mask-o-3)"
      id="portfolio-o-3"
      d="m321.63,61.86c-.65,2.47-1.53,4.79-2.64,6.93-1.11,2.15-2.43,4-3.96,5.57-1.53,1.56-3.26,2.78-5.18,3.66-1.92.88-4.02,1.32-6.3,1.32-2.67,0-4.77-.57-6.3-1.71-1.53-1.14-2.67-2.55-3.42-4.25-.75-1.69-1.2-3.55-1.37-5.57-.16-2.02-.24-3.91-.24-5.66,0-1.24.15-2.6.44-4.1.29-1.5.7-3.03,1.22-4.59.52-1.56,1.19-3.12,2-4.69.81-1.56,1.77-2.99,2.88-4.3.39-1.11.99-2.08,1.81-2.93.81-.85,1.76-1.55,2.83-2.1,1.07-.55,2.23-.98,3.47-1.27,1.24-.29,2.44-.44,3.61-.44.2,0,.37.03.54.1.16.07.34.13.54.2.85.07,1.9.39,3.17.98s2.51,1.46,3.71,2.64c1.2,1.17,2.23,2.65,3.08,4.44.85,1.79,1.27,3.96,1.27,6.49,0,.52-.03,1.16-.1,1.9-.07.75-.13,1.38-.2,1.9,1.5-.59,3.06-1.3,4.69-2.15,1.63-.85,3.21-1.74,4.74-2.69,1.53-.94,2.95-1.9,4.25-2.88,1.3-.98,2.34-1.86,3.12-2.64.65-.59,1.2-.91,1.66-.98.46-.06.78.07.98.39.2.33.23.78.1,1.37-.13.59-.49,1.24-1.07,1.95-.33.39-1.16,1.17-2.49,2.34-1.33,1.17-2.91,2.44-4.74,3.81-1.82,1.37-3.81,2.7-5.96,4-2.15,1.3-4.2,2.28-6.15,2.93Zm-22.75,2.34c0,1.17.06,2.33.2,3.47.13,1.14.39,2.15.78,3.03s.91,1.6,1.56,2.15c.65.55,1.5.83,2.54.83,1.17,0,2.25-.28,3.22-.83.98-.55,1.86-1.27,2.64-2.15s1.48-1.89,2.1-3.03c.62-1.14,1.16-2.33,1.61-3.56-.46.07-.9.11-1.32.15-.42.03-.9.05-1.42.05-2.47,0-4.61-.73-6.4-2.2-1.79-1.46-3.17-3.34-4.15-5.62-.39,1.37-.72,2.7-.98,4-.26,1.3-.39,2.54-.39,3.71Zm6.25-17.19c-.2.59-.29,1.21-.29,1.86,0,1.04.06,2.13.2,3.27.13,1.14.46,2.17.98,3.08.52.91,1.35,1.68,2.49,2.29,1.14.62,2.72.93,4.74.93.33,0,.65-.02.98-.05.33-.03.65-.08.98-.15.2-.85.37-1.61.54-2.29.16-.68.24-1.28.24-1.81.13-1.24.13-2.51,0-3.81-.13-1.3-.38-2.49-.73-3.56-.36-1.07-.81-1.95-1.37-2.64-.55-.68-1.22-1.03-2-1.03-1.24,0-2.43.34-3.56,1.03-1.14.68-2.2,1.65-3.17,2.88Z"
      stroke-width="0"></path>
  </g>

  <defs>
    <g id="portfolio-mask">
      <mask id="portfolio-mask-p">
        <g id="mask-p">
          <path id="mask-p-line" class="mask" d="m28.68,13.01S12.68,88.58,7.86,90.9h-1.86" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></path>
          <path
            id="mask-p-bow"
            class="mask"
            d="m14.77,17.06s12.91-10.3,23.15-10.99,16.69,3.71,16.69,3.71c0,0,3.71,3.43,3.98,9.07s-5.26,22.53-5.26,22.53c0,0-12.6,12.18-16.64,15.11s-15.32,2.75-15.32,2.75"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="12"></path>
        </g>
      </mask>
      <mask id="portfolio-mask-o-1">
        <path
          id="mask-o-1"
          class="mask"
          d="m79.1,40.69s-12.26,2.57-13.91,15.16-.96,16.3,1.1,18.5,9.89,1.92,9.89,1.92c0,0,8.38-6.18,10.72-11.81s-3.3-23.77-3.3-23.77c0,0-13.33-1.1-13.05,6.32s3.49,12.91,5.32,13.46,17.35-1.37,19.68-2.75,13.33-9.75,13.33-9.75"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="12"></path>
      </mask>
      <mask id="portfolio-mask-r">
        <path
          id="mask-r"
          class="mask"
          d="m112.58,44.68s4.95-.82,5.22-5.22-6.04-3.02-6.04-3.02l-16.35,39.85s11.4-28.72,18-29.82,9.75-1.79,12.23,0-2.2,13.74-2.2,13.74l-4.53,8.24s-1.37,3.73-.69,5.23,5.22,4.66,6.87,4.25,21.84-22.07,21.84-22.07"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="12"></path>
      </mask>
      <mask id="portfolio-mask-t">
        <g id="mask-t">
          <path id="mask-t-line-1" class="mask" d="m149.54,53.83c1.24-2.55,13.46-39.37,13.46-41.71s-3.38-3.02-4.09,0-13.08,49.6-11.98,52.96.14,10.26,4.12,11.21,26.51-19.19,26.51-19.19" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"
          ></path>
          <path id="mask-t-line-2" class="mask" d="m136.62,25.31c-.14.96,19.23,1.92,23.35,0s20.06.56,20.06.56" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></path>
        </g>
      </mask>
      <mask id="portfolio-mask-f">
        <path
          id="mask-f"
          class="mask"
          d="m179.38,55.85s12.19-28.07,12.6-37.14-1.1-7.97-1.1-7.97l-27.2,104.96s-.69,4.26,4.53,3.85,8.38-.69,11.81-3.85,11.13-15.94,12.02-19.51.34-12.63-1.45-15.59-16.1-15.62-15.81-18.48,8.44-8.24,13.91-9.34,21.48-3.98,21.48-3.98"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="12"></path>
      </mask>
      <mask id="portfolio-mask-o-2">
        <path
          id="mask-o-2"
          class="mask"
          d="m213.13,47.89s-5.35,1.67-6.03,10.76,0,13.93,1.1,15.02,6.15,4.06,9.33,2.64,11.83-8.7,12.38-12.55,2.2-11.27,0-17.31-5.82-6.87-8.13-6.59-8.49,2.75-8.77,5.08-1.1,9.31,1.51,12.14,8.65,4.75,10.99,4.75,25.55-12.64,25.55-12.64"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="12"></path>
      </mask>
      <mask id="portfolio-mask-l">
        <path id="mask-l" class="mask" d="m253.44,47.56s8.61-29.2,7.78-34.38-15.39,60.49-15.39,60.49" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></path>
      </mask>
      <mask id="portfolio-mask-i">
        <g id="mask-i">
          <path id="mask-i-line" class="mask" d="m277.16,40.42s-7.56,17.17-6.87,23.77-.55,7.97,1.65,10.58,4.53,1.92,6.73.69,16.21-14.84,16.21-14.84" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></path>
          <path id="mask-i-dot" class="mask" d="m283.89,15.96c-.13.96-2.46,4.26-2.46,4.26" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></path>
        </g>
      </mask>
      <mask id="portfolio-mask-o-3">
        <path
          id="mask-o-3"
          class="mask"
          d="m298.87,55.53s-5.78,6.04-3.3,12.36,3.71,8.53,6.87,8.8,11.13-1.78,12.5-4.88,5.91-14.26,4.67-21.04-3.6-8.96-6.09-10.95-11.49,2.06-12.04,4.21-1.98,3.08-.99,6.74,3.01,8.88,5.71,9.7,17.67-.62,19.73-1.82,14.84-12.06,14.84-12.06"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="12"></path>
      </mask>
    </g>
  </defs>
</svg>

<style>
  svg {
    fill: var(--color-1);
    opacity: 1;
  }

  .mask {
    fill: none;
    stroke: #fff;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    mask-mode: alpha;
  }

  @keyframes strokeOffset {
    to {
      stroke-dashoffset: 0;
    }
  }

  .on #mask-p-line {
    animation-name: strokeOffset;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  .on #mask-p-bow {
    animation-name: strokeOffset;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0.2s;
  }

  .on #mask-o-1 {
    animation-name: strokeOffset;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0.5s;
  }

  .on #mask-r {
    animation-name: strokeOffset;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0.8s;
  }

  .on #mask-t-line-1 {
    animation-name: strokeOffset;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 1.1s;
  }

  .on #mask-t-line-2 {
    animation-name: strokeOffset;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 1.3s;
  }

  .on #mask-f {
    animation-name: strokeOffset;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 1.5s;
  }

  .on #mask-o-2 {
    animation-name: strokeOffset;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 2.1s;
  }

  .on #mask-l {
    animation-name: strokeOffset;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 2.4s;
  }

  .on #mask-i-line {
    animation-name: strokeOffset;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 2.7s;
  }

  .on #mask-i-dot {
    animation-name: strokeOffset;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 3.4s;
  }

  .on #mask-o-3 {
    animation-name: strokeOffset;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 3s;
  }
</style>
