---
interface Props {
	lang: string;
}

const { lang } = Astro.props;
---

<div class="fullscreen-container relative h-full">
    <div class="image-container h-full w-full flex gap-4 items-center"></div>
    <button class="fullscreen-btn left">
        <i class="fa-solid fa-chevron-left"></i>
    </button>
    <button class="fullscreen-btn right">
        <i class="fa-solid fa-chevron-right"></i>
    </button>
</div>

<template id="fullscreen-img-temp">
    <div class="fullscreen-img">
        <img class="" src="" alt="" data-lang={lang} />
    </div>
</template>

<style>
    .fullscreen-img {
        min-width: calc(100vw - 2rem);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fullscreen-img img {
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .image-container {
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        overflow-y: hidden;
        overflow-x: auto;
        scrollbar-width: none;
    }

    .image-container::-webkit-scrollbar {
        display: none;
    }

    .image-container .fullscreen-img {
        scroll-snap-align: center;
    }

    .fullscreen-btn {
        position: absolute;
        top: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        border-radius: calc(infinity * 1px);
        transition-property: color, background-color, border-color, opacity;
		transition-duration: .15s;
		transition-timing-function: ease-in-out;
		background-color: rgba(var(--color-1-rgb), .1);
        border: 2px solid;
		border-color: rgba(var(--color-3-rgb), 1);
		color: rgba(var(--color-2-rgb), 1);
        cursor: pointer;
        transform: translateY(-50%)
    }

    .fullscreen-btn.left {
        left: 0;
    }

    .fullscreen-btn.right {
        right: 0;
    }

    .fullscreen-btn > i {
        font-size: 1.25rem;
        pointer-events: none;
    }

    .fullscreen-btn:disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: .5;
    }

    html.dark .fullscreen-btn {
        background-color: var(--color-4);
		border-color: var(--color-2);
		color: var(--color-1);
        opacity: .7;
    }

    .fullscreen-btn:not(:disabled):hover {
        background-color: rgba(var(--color-1-rgb), .3);
		border-color: rgba(var(--color-2-rgb), 1);
		color: rgba(var(--color-1-rgb), 1);
    }

    html.dark .fullscreen-btn:not(:disabled):hover {
        background-color: var(--color-4);
		border-color: var(--color-2);
		color: var(--color-1);
        opacity: 1;
    }
</style>